<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

    <div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
    <div class="container col-md-6 col-lg-4 col-xl-3 p-2">
    <div class="starter-template">
            <h1 >Error:<span>No response</span></h1>
            <h3>Unhandled error.</h3>
            <a href="/user/homepage" >Return to home</a>
        </div>
    </div>
</body>

</html>